import React from 'react'

interface {{pascalCase componentName}}Props { 
  name: string; 
} 

const {{pascalCase componentName}} = ({ name }: {{pascalCase componentName}}Props) => {
  return <div>{name}</div>
}

export { {{pascalCase componentName}} }